/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../var/lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Advent Pro";
  src: url("fonts/Advent_Pro/AdventPro-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Advent Pro";
  src: url("fonts/Advent_Pro/AdventPro-Bold.ttf");
  font-style: bold;
  font-weight: 700;
}

@font-face {
  font-family: "Stoke";
  src: url("fonts/Stoke/Stoke-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Neuton";
  src: url("fonts/Neuton/Neuton-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

/* line 41, sass/screen.scss */
.theme-beige body {
  background-image: url("../images/isometric-grid.png");
  background-color: #f0efe7;
}
/* line 51, sass/screen.scss */
.theme-beige .reveal section h1 {
  font-family: "Neuton", serif;
  font-size: 60px;
}
/* line 57, sass/screen.scss */
.theme-beige .reveal section h4 {
  font-family: "Advent Pro", sans-serif;
  text-transform: none;
}
/* line 63, sass/screen.scss */
.theme-beige .reveal section p {
  font-family: "Signika", sans-serif;
  text-transform: none;
}
/* line 69, sass/screen.scss */
.theme-beige .reveal section img {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 75, sass/screen.scss */
.theme-beige .reveal section footer {
  position: absolute;
  width: 900px;
  bottom: 0;
}
